Source: pgedge-docloader
Section: net
Priority: optional
Maintainer: Muhammad Aqeel <muhammad.aqeel@pgedge.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/pgEdge/pgedge-docloader
Rules-Requires-Root: no

Package: pgedge-docloader
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A tool for converting HTML and RST docs into Markdown, and loading them into PostgreSQL

